.dropdown {
  &_menu {
    position: absolute;
    display: inline-block;
    max-width: 195px;
    max-height: 319px;
    right: 1em;
    top: 65px;
    margin: 0;
    padding: 1em 0;
    width: 200px;
    height: auto;
    min-width: 200px;
    list-style: none;
    border-radius: 3px;
    box-shadow: 0px 8px 10px 1px rgb(0 0 0 / 14%),
      0px 3px 14px 2px rgb(0 0 0 / 12%), 0px 5px 5px -3px rgb(0 0 0 / 20%);
    &_item {
      height: 2.5em;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 1em;
      cursor: pointer;
      &:hover {
        background: #f3f3f3;
      }
      & > a {
        text-decoration: none;
        color: #222222;
      }
    }
  }
  &_hide {
    display: none;
  }
  &_icon {
    margin-left: 1em;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #555;
  }
}
