.datepicker{
  height: 100%;
  display: flex;
}

.date-label {
  position: absolute;
  top: .8em;
  display: flex;
  color: #3c4043;
  font-family: Google Sans, Roboto, Arial, sans-serif;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
  cursor: pointer;
}

.icon {
  top: 0.5em;
  right: -1em;
  position: absolute;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #5f6368;
}

.date-picker {
  &_show {
    width: 244px;
    height: 220px;
    padding: 0 14px 16px 19px;
    position: relative;
    top: 1em;
    left: -4em;
    box-shadow: 0 1px 3px 0 rgb(60 64 67 / 30%),
      0 4px 8px 3px rgb(60 64 67 / 15%);
    border-radius: 8px;
    background: #ffffff;
    z-index: 10;
    display: block;
    animation: scale-up-top 0.4s cubic-bezier(0.4, 0, 0.2, 1) both;
  }
  &_hide {
    width: 244px;
    padding: 0 14px 16px 19px;
    position: relative;
    top: 7em;
    left: -2em;
    box-shadow: 0 1px 3px 0 rgb(60 64 67 / 30%),
      0 4px 8px 3px rgb(60 64 67 / 15%);
    border-radius: 8px;
    background: #ffffff;
    z-index: 10;
    animation: scale-down-top 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
}

@keyframes scale-up-top {
  0% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scale-down-top {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.0);
    opacity: 0;
  }
}

.calendar-body {
}

.calendar-body-container-head {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 28px;
  font-size: 10px;
  font-weight: 500;
  color: #70757a;
}

.calendar-body-container-template {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  &_box {
    flex: 1 0 14%;
  }
}

.c-day-container {
  width: 24px;
  height: 24px;
  margin: 1px auto;
  cursor: pointer;
  border: 0;
  border-radius: 50%;
  color: #3c4043;
  &.disabled {
    color: #70757a;
  }
  &.highlight {
    background-color: #1a73e8;
    color: #fff;
    &:hover {
      color: #fff;
      background-color: #165db9;
    }
  }
  &.highlight-blue {
    color: #185abc;
    background-color: #d2e3fc;
    &:hover {
      color: #185abc;
      background-color: #a4c8ff;
    }
  }
  &:hover {
    background-color: #f0f0f0;
    transition: background 0.3s;
    border: 0;
    border-radius: 50%;
  }
}

.cdc-day {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  width: 100%;
  height: 100%;
  font-size: 10px;
  font-weight: 500;
}

.mdpc-head {
  height: 32px;
  font-size: 12px;
  font-weight: 400;
  color: #3c4043;
  align-items: center;
  margin-left: 4px;
  margin-right: 3px;
  display: flex;
  flex-direction: row;
}

.mdpch-container {
  height: 32px;
  width: 100%;
  font-size: 12px;
  font-weight: 400;
  color: #3c4043;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.mdpchc-year {
  display: flex;
  flex-grow: 4;
  justify-content: flex-start;
  padding-left: 5px;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.25px;
  line-height: 20px;
  color: #3c4043;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
  color: #5f6368;
  cursor: pointer;
  border: none;
  background-color: inherit;
  &:hover {
    background-color: #f0f0f0;
    transition: background 0.3s;
    border: 0;
    border-radius: 50%;
  }
}
