.create {
  &_btn {
    position: absolute;
    top: 5.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    box-shadow: 0px 1px 2px 0px rgb(60 64 67 / 30%),
      0px 1px 3px 1px rgb(60 64 67 / 15%);
    transition: border 280ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: rgba(255, 255, 255, 0.5);
    &:hover {
      box-shadow: 0px 12px 15px 0px rgb(60 64 67 / 30%),
        0px 1px 3px 1px rgb(60 64 67 / 15%);
    }
  }
}
