.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 2.7em;
  width: 5em;
  font-weight: 600;
  background-color: inherit;
  border: 1px solid #dadce0;
  border-radius: 4px;
  cursor: pointer;
}
