.yearPage {
  width: 300px;
  margin: auto;
  animation: 1s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite slidein;
}

@keyframes slidein {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
