.header {
  position: fixed;
  height: 3.5em;
  padding: 8px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  background-color: #fff;
  &_logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2em;

    &_img {
      width: 3em;
      height: 3em;
      padding-right: 2px;
    }
    &_title {
      font-family: "Roboto", "Google Sans", Arial, sans-serif;
      padding-left: 2px;
      color: #4b4f51;
    }
  }
  &_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 1em;
    &_controls {
      height: 100%;
      display: flex;
      align-items: center;
      &_arrows {
        display: flex;
        margin: 0 20px;
        & > button {
          border: none;
          margin: 0 2px;
          border-radius: 50%;
          width: 32px;
          height: 32px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: inherit;
          cursor: pointer;
          &:hover {
            background-color: rgba(32, 33, 36, 0.039);
          }
        }
      }
    }
  }
  &::after {
    content: "";
    position: absolute;
    background-color: #dadce0;
    height: 1px;
    width: 100%;
    left: 0;
    top: 4.5em;
  }
}
